.hero {
  background-image: url(hero.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;

  z-index: -1;
}



.link_hero:hover {
    text-decoration: none;

}

.header_hero {
  position: relative;
  font-family: Big Shoulders Display, sans-serif;
  font-size: 4rem;
  color: white;
  top: 30%;
}



.shop {
  position: relative;
  font-family: BenchNine, sans-serif;
  color: white;
  top: 40%;
  z-index: 100;
}




.arrow {
  position: relative;
  color: white;
  top: 35%;
  font-size: 3rem;
}

